body, td, pre {color:#000; font-family: "Georgia", Georgia, serif; font-size:13px; margin:8px;}
span, p {font-family: "Georgia", Georgia, serif;}
p {font-family: "Georgia", Georgia, serif;}
*[style] {font-family: "Georgia", Georgia, serif;}