@charset "utf-8";
html,
body {
    margin: 0;
    padding: 0;
    color: black;
}
* {
    font-family: Helvetica, Arial, sans-serif;
}
hr {
    height: 1px;
    background: rgb(200, 200, 200);
}
h1 {
    font-weight: normal;
    font-size: 26px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.container-fluid {
    border-bottom: 1px solid rgb(210, 210, 210);
}
.container-fluid a {
    color: black !important;
    font-size: 110%;
}
#navtitle {
    font-size: 130%;
}
#login-wrapper, #register-wrapper {
    width: 400px;
}
#first {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#second {
    border-top-left-radius: 0;
    border-top-right-radius: 0;    
}
#sign-in, #sign-up {
    width: 100%;
    font-size: 100%;
}
#forgot {
    font-size: 90%;
    float: right;
}
#third {
    border-radius: 0;
    border-bottom: 0;
}
#submit-thread {
    float: right;
}
#submit-button {
    width: 100%;
}
*[style] {
    font-family: Helvetica, Arial, sans-serif !important;
}
.comments *[style], .over *[style] {
    font-size: 100% !important;
}