@charset "utf-8";

/* Universal styles */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(220, 220, 220);
  color: black;
}

.accent {
  background: #ff3333;
  height: 0px;
  width: 100%;
}

* {
  letter-spacing: 0.5px;
}

@font-face { font-family: 'Arial'; src: Arial, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 25px;
}

h4 {
  font-size: 21px;
}

hr {
  background-color: rgb(238, 238, 238);
  height: 1px;
}

input, textarea, select {
  outline: none;
  box-shadow:none !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 5px;
}

p, .row {
  font-size: 13px;
}

textarea {
  resize: vertical;
  font-family: Arial, sans-serif;
}

code {
  color: black;
}

#description code {
  margin: 0px;
  padding: 1px 5px;
  border: 0px;
  font-size: 13px;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 
  'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
  white-space: pre-wrap;
  background: rgba(202, 202, 202, .5);
  color: black;
}

pre {
  background-color: rgb(220, 220, 220);
  color: black;
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
}

.form-control:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input:-webkit-autofill {
    color: rgb(30, 30, 30) !important;
}

input[type='text'], input[type='email'], input[type='password'] {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

#id_title, #id_text {
  border-radius: 5px;
}

#first, #second, #third {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#first {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#third {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;  
}

#first, #second {
  border-bottom: 0;
}

.content {
  font-family: Arial, Arial, sans-serif;
  font-size: 14px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: 17px;
  background-color: rgb(100, 100, 100);
  color: rgb(238, 238, 238);
}

.content {
  width: 100%;
}

.navbar-brand {
  font-size: 19px;
}

.navbar {
  background: rgb(100, 100, 100);
  border: 0;
  border-radius: 0;
  font-size: 15px;
  font-family: "Arial", Arial;
  z-index: 99;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:link {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:active {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:visited {
    color: #ffffff;
}

.navbar-default .navbar-nav .navbar-right > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav .navbar-right > li > a:link {
    color: #ffffff;
}

.navbar-default .navbar-nav .navbar-right > li > a:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav .navbar-right > li > a:active {
    color: #ffffff;
}

.navbar-default .navbar-nav .navbar-right > li > a:visited {
    color: #ffffff;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: normal;
}

.navbar-default .navbar-brand:hover {
    color: #ffffff;
}

.navbar-default .navbar-brand:active {
    color: #ffffff;
}

.navbar-default .navbar-brand:visited {
    color: #ffffff;
}

.author a, .link {
   color: #66ff66;
   font-weight: bold;
   cursor: pointer;
}

.author a:hover, .link:hover {
    color: #66ff66;
}

.green {
  color: #66ff66;
}

.mce-title {
  font-weight: normal;
  font-family: Arial, sans-serif;
}

.red {
  color: #ff8080;
}

#upvote, #downvote {
  font-size: 150%;
}

#upvote:hover, #downvote:hover {
  text-decoration: none;
  cursor: pointer;
}

#upvote:hover {
  color: #239023;
}

#downvote:hover {
  color: #ff3333;
}

.overflow {
  overflow: auto;
}

.over {
  overflow: auto;
}

/* Layout styles */

#right {
  border-left: 1px solid #ccc;
}

.form-register {
  width: 500px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: rgb(100, 100, 100);
  
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.form-register .form-control {
  position: relative;
  font-size: 14px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-register input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-register input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#sign-up {
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  border-radius: 4px;
  outline: 0;
  background: rgb(230, 230, 230);
  color: rgb(20, 20, 20);
}

#searchbox {
  width: 80px;
  font-size: 12px;
  padding: 4px;
  border-radius: 4px;  
  outline: 0;
}

#right-float {
  float: right;
  font-size: 13px;
  padding: 5px;
  margin-left: 358px;
  border-radius: 4px;
}

textarea {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#threadfeed div {
  overflow: hidden;
}

.whitespace {
  height: 15px;
  display: none;
}

.whitespace2 {
  height: 5px;
}

#search-button, #search-input, #search-category {
  font-size: 13px;
  height: 30px;
}

.postdiv {
  line-height: 97%;
}

.token {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 
  'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
}

.logo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-filter: blur(0);
}

.in-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    color: rgb(50, 50, 50);
    font-family: "Arial", Arial;
    z-index: 999;
}

.in-center h1 {
  font-size: 45px;
}

.in-center {
  font-size: 20px;
}

#aboutcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 23px;
    font-family: "Arial";
    width: 70%;
}

.navbar-right {
  margin-right: -5px;
}

#about {
  background: rgb(100, 100, 100);
  color: #fff;
  position: relative;
  top: 100%;
  height: 91%;
  overflow: auto;
  min-height: 600px;
}

#donate {
  position: relative;
  top: 100%;
  background: #1ac6ff;
}

#bg {
  position: fixed; 
  top: 50px; 
  left: 0; 

  width: 100%;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#donate {
  height: 40%;
  overflow: auto;
  min-height: 300px;
  background: rgb(236, 236, 236);
}

#donatecontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    color: rgb(40, 40, 40);
    font-size: 23px;
    font-family: "Arial";
}

.paypalbutton {
    display: inline-block;
    background-color: rgb(100, 100, 100);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 17px;
    font-weight: bold;
    border: 0;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 16px;
    width: auto;
}

.paypalbutton:hover {
    background-color: rgb(120, 120, 120);
}

.content {
  border: 0;
  position: relative;
  border: 1px solid #d9d9d9;
}

span[style] {
  font-family: Arial, Arial !important;
}

font[style] {
  font-family: Arial, Arial !important;
}

font[face] {
  font-family: Arial, Arial !important;
}

.title-div {
  padding-top: 3px;
  padding-bottom: 15px;
  font-family: "Arial", Arial;
  color: rgb(228, 228, 228);
}

.description-div {
  font-family: "Arial", Arial;
  padding-bottom: 22px;
}

.title-div-2 {
  padding-top: 2px;
  padding-bottom: 22px;
  color: rgb(228, 228, 228);
}

.description-div-2 {
  padding-top: 2px;
  padding-bottom: 12px;
  color: rgb(228, 228, 228);
}

.form-register {
  border: 0;
}

a {
  color: #b3d1ff;
}

a:hover {
  color: #b3d1ff;
}

.postlink:link {
  color: #b3d1ff;
}

.postlink:hover {
  color: #b3d1ff;
}

.postlink:active {
  color: #b3d1ff;
}

.postlink:visited {
  color: #b3d1ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    border: 1px solid rgb(220, 220, 220) !important;
    }

#second:-webkit-autofill,
#second:-webkit-autofill:hover,
#second:-webkit-autofill:active,
#second:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    border-bottom: 0px solid rgb(220, 220, 220) !important;
    }

@media screen and (max-width: 1015px) {
    #bg {
      display: none;
    }

    .content {
      border: 0;
    }

    .content[style] {
      border: 0;
    }

    #aboutcontainer {
      font-size: 110%;
    }
}

@media screen and (max-width: 770px) {
    .in-center {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 200px;
      transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      font-family: "Arial", Arial;      
    }

    .in-center h1 {
      font-size: 32px;
    }
}