{% extends "webapp/index.html" %}
{% block content %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../" id="navtitle">Devhaven.io</a>
        </div>
        <ul class="nav navbar-nav">
          {% if authenticated %}
            <li><a href="../startthread">Start Thread</a></li>
            <li><a href="../yourfeed">Your Threads</a></li>
          {% endif %}
        </ul>
        {% if not authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../register">Sign Up</a></li>
            <li><a href="../login">Login</a></li>
          </ul>
        {% endif %}
        {% if authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../logout/">Logout</a></li>
          </ul>
        {% endif %}
      </div>
    </nav>
    <div class="container">
      <div class="content">
        <h1>/threads</h1><br>
        <form action="" method="POST"><div style="font-size: 16px;">{% csrf_token %}Category: 
            <select style="font-size: 16px; padding: 4px;" name="category">
                    <option disabled></option>
                    <option value='all'>all</option>
                    <option disabled></option>
                    <option>Hardware and OS</option>
                    <option value="Desktops">&nbsp;&nbsp;&nbsp;&nbsp;Desktops</option>
                    <option value="Tablets">&nbsp;&nbsp;&nbsp;&nbsp;Tablets</option>
                    <option value="Phones">&nbsp;&nbsp;&nbsp;&nbsp;Phones</option>
                    <option value="Wearables">&nbsp;&nbsp;&nbsp;&nbsp;Wearables</option>
                    <option value="Windows">&nbsp;&nbsp;&nbsp;&nbsp;Windows</option>
                    <option value="Mac OS X">&nbsp;&nbsp;&nbsp;&nbsp;Mac OS X</option>
                    <option value="Linux and Unix">&nbsp;&nbsp;&nbsp;&nbsp;Linux and Unix</option>
                    <option disabled></option>
                    <option>Programming and Computer Science</option>
                    <option value="Software Development">&nbsp;&nbsp;&nbsp;&nbsp;Software Development</option>
                    <option value="Web Development (Front)">&nbsp;&nbsp;&nbsp;&nbsp;Web Development (Front)</option>
                    <option value="Web Development (Back)">&nbsp;&nbsp;&nbsp;&nbsp;Web Development (Back)</option>
                    <option value="Mobile Development">&nbsp;&nbsp;&nbsp;&nbsp;Mobile Development</option>
                    <option value="Game Development">&nbsp;&nbsp;&nbsp;&nbsp;Game Development</option>
                    <option value="Algorithms and Data Structures">&nbsp;&nbsp;&nbsp;&nbsp;Algorithms and Data Structures</option>
                    <option value="Databases">&nbsp;&nbsp;&nbsp;&nbsp;Databases</option>
                    <option value="IDE / Text Editors">&nbsp;&nbsp;&nbsp;&nbsp;IDE / Text Editors</option>
                    <option disabled></option>
                    <option>Community Discussion</option>
                    <option value="Tutorial">&nbsp;&nbsp;&nbsp;&nbsp;Tutorial</option>
                    <option value="Opinion">&nbsp;&nbsp;&nbsp;&nbsp;Opinion</option>
                    <option value="Miscellaneous">&nbsp;&nbsp;&nbsp;&nbsp;Miscellaneous</option>
                    <option disabled></option>
                </select>
        <input type="submit" id="parsebutton" value="Search"></div></form>
        <hr>
        {% for post in posts %}
            <div class="posttitle"><p><a href="../thread/{{ post.slug }}" class="postlink" style="font-size: 110%;">{{ post.title }}</a></p></div>
            <p align="right" class="timestamp">Written by <i>{{ post.author }}</i> on {{ post.created_on }}</p>
            <p align="right" class="category">Posted in <span class="green">{{ post.field }}</span></p>
            {% if post.commentCount > 0 %}
              <p align="right">Responses: <span class="green">{{ post.commentCount }}</span></p>
            {% endif %}
            {% if post.commentCount == 0 %}
              <p align="right">Reponses: <span class="red">{{ post.commentCount }}</span></p>
            {% endif %}
            <br>
        <hr>
        {% endfor %}
      </div>
    </div>
{% endblock %}