{% extends "webapp/index.html" %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Devhaven.io</a>
    </div>
    <ul class="nav navbar-nav">
		<li><a href="threadfeed">Threads</a></li>
    {% if authenticated %}
    <li><a href="startthread">Start Thread</a></li>
		<li><a href="yourfeed">Your Threads</a></li>
    {% endif %}
    </ul>
    {% if not authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register">Sign Up</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    {% endif %}
    {% if authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout/">Logout</a></li>
      </ul>
    {% endif %}
  </div>
</nav>

<div class="in-center"><h1 align="center">Devhaven.io</h1><div align="center">Simple and quick <u>programming discussion</u>.</div></div>
<img src="../../static/webapp/clouds.png" id="bg" alt="">

<div id="about">
<div id="aboutcontainer">
<i>Devhaven.io</i> is a newly launched programming discussion forum created for programming enthusiasts. Registration is free, and members have full access to all of the programming threads of this site. All programming topics are allowed for discussion, from operating Systems to Web Development. In addition, Devhaven.io has advanced formatting and syntax highlighting inside its text editor for creating threads and responses, making discussion quick and easy.<br><br><div style="font-size: 80%;">
- Made by <a href="mailto:henry.david.zhu@gmail.com" style="color: white;"><u>Henry Zhu</u></a> (Back End) and Owen Cheung (Front End)</div></div></div>
<div id="donate">
  <div id="donatecontainer"><div align="center">Donations are very much appreciated <span class="red">&#10084;</span>.</div>
    <div align="center" id="donatebutton">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="RWMZCW52FTXMJ">
        <input type="submit" value="Donate to us" name="submit" title="PayPal - The safer, easier way to pay online!" class="paypalbutton">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
</div>
{% endblock %}