{% extends "webapp/index.html" %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../">Devhaven.io</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="../threadfeed">Threads</a></li>
      {% if authenticated %}
        <li><a href="../startthread">Start Thread</a></li>
        <li><a href="../yourfeed">Your Threads</a></li>
      {% endif %}
    </ul>
    {% if not authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../register">Sign Up</a></li>
        <li><a href="../login">Login</a></li>
      </ul>
    {% endif %}
    {% if authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../logout/">Logout</a></li>
      </ul>
    {% endif %}
  </div>
</nav>

<img src="../../static/webapp/clouds.png" id="bg" alt="">

<div class="container" style="height: 100%;">
  <div class="content" id="threadfeed">
    <p></p>
{% for post in posts %}
  <div class="raleway">
    <div class="postdiv" style="position:relative;">
        <div class="posttitle"><p><a href="../thread/{{ post.slug }}" class="postlink">{{ post.title }}</a></p></div>
        <p align="right">Written on {{ post.created_on }}</p>
        <p align="right">Posted in <span class="green">{{ post.field }}</span></p>
        {% if post.commentCount > 0 %}
        	<p align="right">Responses: <span class="green">{{ post.commentCount }}</span></p>
        {% endif %}
        {% if post.commentCount == 0 %}
        	<p align="right">Reponses: <span class="red">{{ post.commentCount }}</span></p>
        {% endif %}
        <br>
    </div>
  </div>
  <hr>
{% endfor %}
  </div>
</div>
{% endblock %}