{% extends "webapp/index.html" %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../">Devhaven.io</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="../threadfeed">Threads</a></li>
      <li><a href="../startthread">Start Thread</a></li>
      {% if authenticated %}
        <li><a href="../yourfeed">Your Threads</a></li>
      {% endif %}
      <li><a href="../../../donate">Donate</a></li>
    </ul>
    {% if not authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../register">Sign Up</a></li>
        <li><a href="../login">Login</a></li>
      </ul>
    {% endif %}
    {% if authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../logout/">Logout</a></li>
      </ul>
    {% endif %}
  </div>
</nav>

<div class="container">
  <div class="content" id="threadfeed">
    <p></p>
{% for post in posts %}
    <div class="postdiv">
        <p><a href="../thread/{{ post.slug }}"><u>{{ post.title }}</u></a></p>
        <p align="right">Written on {{ post.created_on }}</p>
        <p align="right">Posted in <span class="green"><b>{{ post.field }}</b></span></p>
        {% if post.commentCount > 0 %}
        	<p align="right">Responses: <span class="green"><b>{{ post.commentCount }}</b></span></p>
        {% endif %}
        {% if post.commentCount == 0 %}
        	<p align="right">Reponses: <span class="red"><b>{{ post.commentCount }}</b></span></p>
        {% endif %}
        <br>
    </div>
{% endfor %}
  </div>
</div>
{% endblock %}