{% extends "webapp/index.html" %}

{% block content %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../" id="navtitle">Devhaven.io</a>
        </div>
        <ul class="nav navbar-nav">
          {% if authenticated %}
            <li><a href="../startthread">Start Thread</a></li>
            <li><a href="../yourfeed">Your Threads</a></li>
          {% endif %}
        </ul>
        {% if not authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../register">Sign Up</a></li>
            <li><a href="../login">Login</a></li>
          </ul>
        {% endif %}
        {% if authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../logout/">Logout</a></li>
          </ul>
        {% endif %}
      </div>
    </nav>

<div class="container">
  <div class="content">
    <h1>/yourfeed</h1><br>
	{% if numPosts > 0 %}
    <div style="font-size: 110%;">Here you can browse through all of your posts.</div>
		<hr>
	{% endif %}
	{% if numPosts == 0 %}
		{% if not authenticated %}
			<div style="font-size: 110%;">Login to see your posts!</div>
		{% endif %}
		{% if authenticated %}
			<div style="font-size: 110%;">You have not made any posts yet.</div>
		{% endif %}
	{% endif %}
{% for post in posts %}
    <div class="postdiv">
        <div class="posttitle"><p><a href="../thread/{{ post.slug }}" class="postlink" style="font-size: 110%;">{{ post.title }}</a></p></div>
        <p align="right" class="timestamp">Written on {{ post.created_on }}</p>
        <p align="right" class="category">Posted in <span class="blue">{{ post.field }}</span></p>
        {% if post.commentCount > 0 %}
        	<p align="right">Responses: <span class="green">{{ post.commentCount }}</span></p>
        {% endif %}
        {% if post.commentCount == 0 %}
        	<p align="right">Reponses: <span class="red">{{ post.commentCount }}</span></p>
        {% endif %}
        <br>
    </div>
  <hr>
{% endfor %}
  </div>
</div>
{% endblock %}